Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menu bar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menu bar, select Cell$\rightarrow$Run All).

Make sure that in addition to the code, you provide written answers for all questions of the assignment. 

Below, please fill in your name:

In [30]:
NAME = "Alexey Adamsky"

# Assignment 3 - Linear Regression

In this assignment, we will be building a linear regression model to understand the drivers which influence car prices.

The car_data.csv dataset contains the following data points about car prices:

- 1 Car_Name - the model of the car
- 2 Year - the year of the car
- 3 Selling_Price - the current selling price of the used car
- 4 Present_Price - the price of the same car, but new
- 5 Kms_Driven - how many kms have been driven
- 6 Fuel_Type - diesel or gas
- 7 Seller_Type - sold by a dealer or individual seller
- 8 Transmission - standard or automatic
- 9 Owner - number of owners


Complete the following:

# **Data Preparation**

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('car_data.csv')

In [33]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [35]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

## **Question 1** _(3 points)_
* Create dummy variables for the Fuel_Type, Transmission and Seller_Type variables.

In [36]:
fuel_type = pd.get_dummies(df['Fuel_Type'])
transmission = pd.get_dummies(df['Transmission'])
seller_type = pd.get_dummies(df['Seller_Type'])

In [37]:
fuel_type.head()

   CNG  Diesel  Petrol
0    0       0       1
1    0       1       0
2    0       0       1
3    0       0       1
4    0       1       0

## **Question 2** _(3 points)
* Create a new column which captures the age of the car as 'new' or 'old'.

In [38]:
df['Year'].unique().max()

2018

In [39]:
df['new_old'] = df['Year'].apply(lambda year: 'new' if year >= 2016 else 'old' )

In [40]:
df[['Year', 'new_old']].head()

   Year new_old
0  2014     old
1  2013     old
2  2017     new
3  2011     old
4  2014     old

## **Question 3** _(3 points)
* Scale the Kms_Driven, Selling_Price, and Present_Price variables (i.e. ensure the variables have the same scale - thousands or tens. You can choose whichever scale you prefer).

In [41]:
df['Kms_Driven'] = df['Kms_Driven'] / 1000

In [42]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,new_old
0,ritz,2014,3.35,5.59,27.00,Petrol,Dealer,Manual,0,old
1,sx4,2013,4.75,9.54,43.00,Diesel,Dealer,Manual,0,old
2,ciaz,2017,7.25,9.85,6.90,Petrol,Dealer,Manual,0,new
3,wagon r,2011,2.85,4.15,5.20,Petrol,Dealer,Manual,0,old
4,swift,2014,4.60,6.87,42.45,Diesel,Dealer,Manual,0,old

# **Exploratory Analysis**

## **Question 4** _(3 points)_
* Conduct exploratory analysis for the categorical variables. What are you findings?

## **Question 5** _(10 points)_
* Conduct exploratory analysis for the continuous variables. Ensure you review each variable by itself, and in combination with the other variables to identify insights and trends. What are your findings?

# **Regression Model**

## **Question 6** _(1 point)_
* Based on the insights identified, state a hypothesis which you can test with a regression model.

## **Question 7** _(5 points)_
* Build a linear regression model based on your hypothesis. Interpret the results.

## **Question 8** _(2 points)_
* How could you make your model better? Is there data that you think would be helpful to achieve a higherd R2 value?